@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", sans-serif;
  font-family: "Public sans", sans-serif;
  background-color: #EDF3F8;
  background-image: url(../images/hero__bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0 74px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.heade__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.header__logo-link {
  display: inline-block;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.header__link {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #6C8294;
  line-height: 17px;
  text-transform: capitalize;
  transition: all 0.3s linear;
}
.header__link:hover {
  color: #36536B;
}

.header__link-demo {
  width: 173px;
  padding: 15px 0;
  background-color: #BA4270;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
}
.header__link-demo:hover {
  opacity: 75%;
}
.header__link-demo:active {
  width: 173px;
  padding: 15px 0;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #BA4270;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #BA4270;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
}

.header__hamburger-btn {
  background-color: transparent;
  border: none;
  display: none;
}

@media (max-width: 900px) {
  .site-header {
    padding: 40px 0 40px;
  }
  body {
    background-image: url(../../images/tablet.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
  }
}
@media (max-width: 692px) {
  .site-header {
    padding: 40px 0 32px;
  }
  body {
    background-image: url(../../images/mobile-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
  }
  .header__list, .header__link-demo {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
.hero-section {
  padding-bottom: 75px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 206px;
}

.hero__content-wrapper {
  width: 546px;
}

.hero__title {
  margin-bottom: 21px;
  font-size: 72px;
  font-weight: 400;
  color: #36536B;
  line-height: 72px;
  text-transform: inherit;
  font-family: "DM Serif Display";
}

.hero__form {
  width: 445px;
  margin-bottom: 16px;
}

.hero__label {
  width: 100%;
  position: relative;
}

.hero__input {
  width: 100%;
  padding: 15px 5px 15px 27px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 104, 0.2509803922);
  outline: none;
  border: none;
  border-radius: 30px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #6C8294;
  line-height: 17px;
  text-transform: inherit;
}

.hero__submit-btn {
  position: absolute;
  right: 0;
  margin: auto;
  width: 173px;
  padding: 14px 0;
  background-color: #BA4270;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
}
.hero__submit-btn:hover {
  opacity: 75%;
}
.hero__submit-btn:active {
  width: 173px;
  padding: 14px 0;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #BA4270;
  transition: all 0.3s linear;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #BA4270;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
}

.hero__bottom-content {
  padding-left: 27px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #6C8294;
  line-height: 17px;
  text-transform: inherit;
}

.hero__bottom-content--strong-text {
  padding-left: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 700;
  color: #36536B;
  line-height: 17px;
  text-transform: inherit;
}

.service-section {
  background-color: #1B262F;
  background-image: url(../../images/service-bg.png);
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 131px;
}

.service__content-wrapper {
  margin-top: 100px;
  width: 500px;
}

.service__title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 400;
  color: white;
  line-height: 56px;
  text-transform: inherit;
  font-family: "DM Serif Display";
}

.service__text {
  margin-bottom: 32px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  line-height: 28px;
  text-transform: inherit;
}

.service__btn {
  width: 129px;
  padding: 15px 0;
  background-color: transparent;
  border-radius: 24px;
  border: 1px solid white;
  transition: all 0.3s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
  transition: all 0.3s linear;
}
.service__btn:hover {
  width: 129px;
  padding: 15px 0;
  background-color: white;
  border-radius: 24px;
  border: 1px solid white;
  transition: all 0.3s linear;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  color: #1B262F;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
}

.service__logo-wrapper {
  width: 559px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-wrap: wrap;
}

.service__link-top-- {
  padding-bottom: 40px;
}

.service__link {
  color: white;
}/*# sourceMappingURL=main.css.map */