.simple-section {
    padding-bottom: 146px;
}
.simple {
    @include Display($items:center, $space:space-between, $gap:95px);
}
.simple__content-wrapper {
    width: 445px;
}
.simple__title {
    font-family: "DM Serif Display", sans-serif;
    @include textStyle($MB:24px, $FS:48px, $FW:400, $CLR:$title-clr, $LH:56px, $CASE:inherit);
}
.simple__text {
    @include textStyle($MB:0px, $FS:15px, $FW:400, $CLR:$text-clr, $LH:28px, $CASE:inherit);
}
@media (max-width:850px){
    .simple {
        @include Display($items:center, $space:start, $gap:48px);
        flex-direction: column-reverse;
        width: 100%;
    }
    .simple__content-wrapper{
        text-align: center;
        width: 573px;
    }
    .simple-bg{   
        width: 363px;
        height: 320px;
    }
}
@media (max-width:689px){
    .simple__content-wrapper{
        width: 328px;
    }
    .simple-bg{
        width: 328px;
        height: 290px;
    }
}